@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); /* for heading */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap'); /* for content*/ 


.home_card{
    height: 13rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    transition: .7s;
    cursor: pointer;
    padding: 15px 10px;
    background-color: white;
}
.home_card:hover{
  transform: translateY(-10px);
}


.home_card__top{
    font-size: 0.7rem;
    margin: 0rem 0.2rem 0rem 0.2rem ;
    font-family: 'Roboto', sans-serif;
}
.home_card__title{
    font-size: 1rem;
    font-weight: 800;
    margin: 0rem 0.2rem 0.5rem 0.2rem ;
    font-family: 'Raleway', sans-serif;
}
.home_card__content{
font-size: 0.8rem;
font-family: 'Roboto', sans-serif;
margin: 0rem 0.2rem 0.2rem 0.2rem ;

}

@media only screen and (max-width: 402px) {
    .home_card{
        width: 9rem;
    }
  }