@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"); /* for heading */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap"); /* for content*/
.Service_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20rem;
    padding: 0.5rem;
    background: rgb(250, 219, 162);
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    transition: .7s;
}
.Service_card:hover{
        transform: translateY(-10px);
}
.Service_card_img{
    width: 100%;
    height: 70%;
    margin-bottom: 1rem;
}
.Service_card_title{
    font-size: 1rem;
    font-weight: 800;
    margin: 0.5rem 0rem 1rem 0rem ;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 834px) {
    .Service_card{
        width: 60%;
    }
  }